#button {
    background-color: lightcoral;
    color: lightblue;
    border-color: lightblue;
}

#header {
    text-align: center;
    font-weight: bold;
}
#jumb{
    background-color: lightblue;
    
}
h1 {
    text-align: center;
}
p {
    text-align: center;
}
